.container{
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
  
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 300px;
}
input{
  margin-top: 15px;
}
.card{
  width: 390px ;
  height: 200px ;
  background-color: rgb(86, 87, 99);
  background-image: url('https://cdn.iconscout.com/icon/premium/png-512-thumb/credit-card-chip-1522262-1288452.png'), url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/650px-Mastercard_2019_logo.svg.png');
  background-size: 25%;
  background-position: left 10% , 90% 80% ;
  background-repeat: no-repeat;
  border-radius: 15px;
  
}

h6 , h4 , h3 , h2 {
  color: white;

}
h6{
  position: absolute;
  font-weight: 500;
    font-family: Times;
    font-size: 1.1em;
    margin: 90px 0 0 15px;
}

h4{
  position: absolute;
  margin: 145px 0px 0px 200px;
  font-size: 1.1em;
  font-weight: 500;
  font-family: Times;
}

h3{
  position: absolute;
  margin: 160px 0px 0px 25px;
  font-size: 1.1em;
  font-weight: 500;
  font-family: Times;
}

h2{
position: absolute;
font-size: 1.1em;
font-weight: 500;
font-family: Times;
margin: 8px 0px 0 240px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}